# Logs & Outputs
PythonAPI/
logs/
실험로그/
result/
figs/
d3rlpy_logs
*.txt
offline_data_for_replaybuffer/
models/
critic_loss_plot/
offline_data_visualization

# Unnecessaries
.vscode
__pycache__/
nohup.out